* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 35px;
}

p {
    color: rgb(255, 255, 255);
}

.first-screen__text {
    color: rgb(255, 255, 255);
}

.img2 {
    width: 400px;
    border-radius: 50%;
}

h2 {
    color: rgb(255, 255, 255);
}

.f2 {
    color: rgb(255, 255, 255);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header */
/* --- header-menu --- */

.header{
    background-color: #252527;
}

@media screen and (max-width: 490px) {
    .header {
        display: none;
    }
}

.header-menu {
    list-style-type: none;
    /* по горизонту */
    display: flex;
    /* расстояние */
    gap: 20px;
    padding: 40px 0px;
}

@media screen and (max-width: 810px) {
.header-menu {
        gap: 5px;
        padding: 30px 0px;
        justify-content: space-between;
    }
}



.header-menu__link a{
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
}

.header-menu__link a:hover{
    color: #4f93e5;
    transition: 0.3s;
}


/* --- first-screen --- */

.first-screen {
     background-color: #252527;
}

.first-screen__wrap {
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.first-screen__info p{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.first-screen__info h2{
    color: #4f93e5;
    font-size: 27px;
    font-weight: 400;
}

.first-screen__info h1{
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 400;
}

@media screen and (max-width: 400px) {
.first-screen__info p {
        font-size: 14px;
    }

    .first-screen__info h2 {
        font-size: 23px;
    }

    .first-screen__info h1 {
        font-size: 35px;
    }
}

.first-screen__image{
    width: 400px;
    height: 300px;
    border: 6px solid #4f93e5;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 810px) {
    .first-screen__image {
        display: none;
    }
}

.first-screen__image img{ 
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 2;
    width: 100%;
    height: 100%;
}


/* About */

.about{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1f1f20;
}

.title{
text-align: center;
font-size: 36px;
font-weight: 600;
margin-bottom: 30px;

}

.title__decor{
background-color: #4f93e5;
width: 100px;
height: 1px;
margin: 0 auto;
margin-top: 10px;   
}


/* Skills */
.skills {
    background-color: #252527;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Resume */
.resume {
    background-color: #1f1f20;
    padding-top: 30px;
    padding-bottom: 30px;
}




/* Works */
.works{
    background-color: #252527;
    padding-top: 30px;
    padding-bottom: 30px;
}


.works-body {
   display: grid;
    /* flex-wrap: wrap;
    justify-content:space-between; */
    gap: 20px;
    grid-template: repeat(3, 360px) / repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    .works-body {
        grid-template: repeat(3, 300px) / repeat(2, 1fr);
    }
}


@media screen and (max-width: 700px) {
.works-body {
        grid-template: repeat(3, 250px) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .works-body {
        grid-template: repeat(3, 370px) / repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .works-body {
        grid-template: repeat(3, 330px) / repeat(1, 1fr);
    }
}

.works-items__image{
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 768px) {
    .works-items__image {
            width: 100%;
            height: 240px;
        }
}

@media screen and (max-width: 700px) {
    .works-items__image {
        width: 100%;
        height: 195px;
    }
}

@media screen and (max-width: 550px) {
.works-items__image {
        height: 310px;
    }
}

@media screen and (max-width: 500px) {
    .works-items__image {
        height: 280px;
    }
}

.works-items__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works-item__title {
    font-size: 20px; 
    font-weight: 700;
    color: #fff;
}
.works-items__link {
    color:#fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
} 
                                                                                                            

/* Contact */
.contact{
    background-color: #1f1f20;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Footer */
.footer{
    background-color: #252527;
    color: white;
}




/* Skills */

.skills__image{
    width: 100px;
}

.skills__image img{
    width: 100px;
}





























