
*{
margin: 0;    
}
h1{
color: rgb(255, 255, 255);  
font-size: 35px; 
}

p{
color: rgb(255, 255, 255);
}

.first-screen__text{
color: rgb(255, 255, 255);
}

img{
width: 400px;
border-radius: 50%;
}

h2{
color: rgb(255, 255, 255);
}

.f2{
color: rgb(255, 255, 255);
}

.container{
max-width: 1000px;
margin: 0 auto;
}

/* --- first-screen --- */

.first-screen{
    background-color: #116466
}
	
.resume{
    background-color: #116466
}

.skills{
    background-color: #116466   
}

/* --- about --- */

.about{
    background-color: #113266   
}
